<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.lip6.fr/veca/ide/VecaDsl"
			class = "fr.lip6.veca.ide.vecaDsl.VecaDslPackage"
			genModel = "model/generated/VecaDsl.genmodel" />
	</extension>
</plugin>
